*{
    font-family:'Poppins', sans-serif;
}
ion-toolbar{
    --background: #ffffff;
}
ion-content{
    --background: #ffffff;
    #header{
        display:flex;
        flex-direction: column;
        align-items: center;
        
        img {
            width: 340px;
            height: 118px;
            border: 0;
            margin-top: 15%;
        }
        ion-icon{
            margin-top:10%;
            width: 130px;
            height: 130px;

        }
        h1{
            font-size: 30px;
            font-weight: 700;
        }
    }
    #form{
        margin-top:5%;
        padding-left: 20px;
        padding-right: 20px;

        ion-item{
            margin-top:20px;
        }
        ion-label{
            font-size: 20px;
        }
        ion-icon{
            width: 60px;
            height: 60px;
        }
        h2{
            font-size: 20px;
            font-weight: 700;
        }
    }
}