ion-content {
    // --background: linear-gradient(to right,#fc603f 0%,  #fd512d 100%);
    --background: linear-gradient(to right,#fd512d 0%, #fd6242 100%);
}

.main-container-div{
    width: 100%;
    .menu-btn{
        position: relative;
        top: 25px;
        left: 290px;
        background-color: #fd6242;
        color: white;
        height: 40px;
        width: 40px;
    }
    ion-label{
        display: block;
        color: #fd512d;
        text-align: center;
    }
    
    .user-div{
        padding: 20px;
        width: 100%;
        height: 170px;
        --background: linear-gradient(to right,#fd512d 0%, #fd6242 100%);
        display: flex;
        padding-top: 20px;
        justify-content: space-between;

        img{
            position: relative;
            right: 60%;
            width:100px;
            height:100px;
            margin-top: 15px;
            margin-right: 20px;
            
        }
        .first-div{
            position: relative;
            padding-top: 35px ;
            left: 70%;

            .welcome{
                font-size: 18px;
                color: white;
                font-weight: 500;
            }
            .name{
                font-size: 24px;
                color: white;
                font-weight: 600;
            }
        }
    }
    .content-div{
        background: white;
        width: 100%;
        height: 500px;
        border-top-right-radius: 75px;
        border-top-left-radius: 75px;
        margin-top: 30px;
        padding-top: 30px;

        .hello{
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 10px;
            padding-left: 5px;
            margin-top: 10px;
        }
        ion-grid{
            padding: 0px;
        }
        .col-div{
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            height: 170px;
            
            box-shadow: 0px 3px 6px rgb(0,0,0,0.2);
            img{
                width: 70px;
                color: #fd512d;
            }
            ion-label{
                margin-top: 8px;
                font-weight: 600;
                font-size: 18px;
            }
        }
    }
}

.animated{
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceInUp{
    0%{
        opacity: 0;
        -webkit-transform: translateY(2000px);
    }
    60%{
        opacity: 1;
        -webkit-transform:translateY(-30px) ;
    }
    80%{
        
        -webkit-transform:translateY(10px) ;
    }
    100%{
        
        -webkit-transform:translateY(0) ;
    }
}

.bounceInUp{
    -webkit-animation-name:bounceInUp ;
    animation-name: bounceInUp;
}

@keyframes bounceInUp{
    0%{
        opacity: 0;
        -webkit-transform: translateY(2000px);
    }
    60%{
        opacity: 1;
        -webkit-transform:translateY(-30px) ;
    }
    80%{
        
        -webkit-transform:translateY(10px) ;
    }
    100%{
        
        -webkit-transform:translateY(0) ;
    }
}