
<ion-content>
  <div class="main-container-div">
    <div class="user-div">
          <img src="assets/img/logotipo-travel.png">
      
        
    </div>
  
    <div class="content-div animated bounceInUp" >
      <ion-label class="hello">Datos de el conductor </ion-label>
      
        <ion-item >
          <!-- <ion-icon slot="start" name="call-sharp"></ion-icon> -->
          <ion-label class="date">Nombre:Miguel Arias</ion-label>
        </ion-item>
        <ion-item >
          <!-- <ion-icon slot="start" name="call-sharp"></ion-icon> -->
          <ion-label class="date">Placa:AZJ-384</ion-label>
        </ion-item>

        <ion-item >
          <!-- <ion-icon slot="start" name="call-sharp"></ion-icon> -->
          <ion-label class="date">Modelo auto:Spark GT</ion-label>
        </ion-item>
  
      
    
      
    </div>
    
  </div>
</ion-content>
