<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/principal">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <img src="assets/img/logotipo-travel.png" />
  </div>

  <div id="contac">
    <ion-row>
      <ion-col size="8" offset="1">
        <div>
          <h1 class="titulo">Contactar<br> con soporte</h1>
        </div>
      </ion-col>
      <ion-col size="2" >
        <div>
          <ion-icon name="umbrella-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <form id="form">
    <h3 class="regular">
      Si necesitas solicitar ayuda contactanos al siguiente correo de soporte:<br>
    </h3>
    <!-- <h2 class="regular">
      soporteTravelApp@gmail.com
    </h2> -->
    <app-input placeholder="Titulo"></app-input>
    <!-- <app-input  placeholder="Descripcción"></app-input> -->
    <ion-textarea color="ion-color-secondary-rgb" class="ion-margin-bottom" class="ion-text-area" rows="6" cols="20" placeholder="  Descripcción..."></ion-textarea>
    
    <app-button texto="Enviar correo"></app-button>
  </form>
</ion-content>

