<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" routerLink="/register">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
       </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <img src="assets/img/logotipo-travel.png" />
  </div>

  <div id="terminos">
    <ion-row>
      <ion-col size="8" offset="1">
        <div>
          <h1 class="titulo">Terminos y<br> condiciones</h1></div>
      </ion-col>
      <ion-col size="2" >
        <div>
          <ion-icon name="shield-checkmark-outline"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <form id="form">
    <h3 class="regular">
      Los términos y condiciones, tambien conocidos como condiciones de uso y contratración, son elementos que regulan la relación con el usurio respecto al acceso de los contenidos y de los servicios que se ponen a disposición a través del uso de el aplicativo movil.
    </h3>
    <app-button texto="Aceptar y continuar"></app-button>
  </form>
</ion-content>
