<ion-header class="ion-no-border">
  <ion-toolbar>
   <ion-buttons slot="start">
     <ion-button routerLink="/signup" color="primary">
       <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
   </ion-buttons>
   <ion-buttons slot="end">
     <ion-button routerLink="/login">Inicia sesión</ion-button>
   </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="header">
    <img src="assets/img/logotipo-travel.png" />
    <h1>Registrar</h1>
  </div>
  <div class="form">
    <h2 class="ion-text-center">{{'Ingresa su correo, su contraseña y su documento de identidad'}}</h2>
    <ion-list lines="none">
      <form [formGroup]=credentialFormSignUp>
        <ion-item lines="none" class="ion-margin-bottom" color="ion-color-secondary-rgb">
          <ion-input 
            type="text"
            placeholder="{{'Email o Correo'}}"
            formControlName="email"
            autofocus="true"
            clearInput="true"
            required>
          </ion-input>
        </ion-item>
        <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
          <span *ngIf="email.errors?.required">Correo requerido</span>
          <span *ngIf="email.errors?.email">Correo errado</span>
        </div>
        <ion-item lines="none" class="ion-margin-bottom" color="ion-color-secondary-rgb">
          <div>
            <ion-input 
              [(ngModel)]="passwordForm.primeraClave" 
              [type]="passwordTypeInput_1" 
              placeholder="{{'Contraseña'}}"
              formControlName="password"
              clearInput="true"
              required>
            </ion-input>
          </div>
          <button  item-end class="btn_eye_icon"  (click)="togglePasswordMode(1)">
            <div>
              <ion-icon  [name]="(passwordTypeInput_1 === 'text')?'eye':'eye-off'"></ion-icon>
            </div>
          </button>
        </ion-item>
        <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
          <span *ngIf="password.errors?.required">Contraseña requerida</span>
          <span *ngIf="password.errors?.minlength">La constraseña debe tener al menos 6 caracteres</span>
        </div>
        <ion-item lines="none" class="ion-margin-bottom" color="ion-color-secondary-rgb">
          <div>
            <ion-input 
              [(ngModel)]="passwordForm.segundaClave" 
              [type]="passwordTypeInput_2" 
              placeholder="{{'Contraseña'}}"
              formControlName="password2"
              clearInput="true"
              required>
            </ion-input>
          </div>
          <button  item-end class="btn_eye_icon"  (click)="togglePasswordMode(2)">
            <div>
              <ion-icon  [name]="(passwordTypeInput_2 === 'text')?'eye':'eye-off'"></ion-icon>
            </div>
          </button>
        </ion-item>
        <div *ngIf="(password2.dirty || password2.touched) && password2.errors" class="errors">
          <span *ngIf="password2.errors?.required">Contraseña requerida</span>
          <span *ngIf="password2.errors?.minlength">La constraseña debe tener al menos 6 caracteres</span>
        </div>
        <app-button  (click)="signUp()" texto="Registrar"></app-button>
      </form>
    </ion-list>
  </div>
</ion-content>

