ion-toolbar{
    --background: #ffffff;

    ion-button{
        text-transform:initial;
        font-size:17px;
    }
}
ion-content{
    --background: #ffffff;
    #header{
        display:flex;
        flex-direction: column;
        align-items: center;
        h1{
            font-weight: 700;
            font-size: 36px;
            color: #2f2e41;
            margin-top: 10%;
        }
        img {
            width: 340px;
            height: 118px;
            border: 0;
            margin-top: 15%;
        }
    }
    #form{
        margin-top:16%;
        padding-left: 30px;
        padding-right: 30px;

        h3{
            font-weight: 500;
            font-size: 18px;
            // margin-top:15%;
        }
        ion-label{
            font-size: 15px;
        }
    }
}

.errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.form {
	margin-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
	ion-list {
		padding-bottom: 8px;
	}

	h2 {
		margin: 0;
		color: var(--text-light);
		font-size: .95rem;
		margin-bottom: 30px;
	}

    ion-item{
        border-top: 30px;
        border-radius: 18px;
        height:44px;
        box-shadow: 1px 8px 8px 0px rgba(0,0,0,0.08);
        --highlight-height: 0px;
        background-color: rgba(253, 81, 45, 0.38);
        
        ion-input{
            font-size:18px;
            --padding-top:14px;
            --padding-bottom:14px;
            --padding-start:5px;
            // correr boton de borrar
            width: 258px;
        }
        a{
            font-size:17px;
            letter-spacing: 0.5px;
            text-decoration: none;
        }
        
    }

}
.errors {
    margin-bottom: 10px;
    border-radius: 18px;
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn_eye_icon{
    position: absolute;
    right: 0;
    // bottom: 4px;
    background: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 15px;
    ion-icon{
        font-size: 22px;
        color:#757575;
    }
}

.btn_eye_icon:focus{
    outline: none  !important;
    // padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
}