ion-toolbar{
    --background: #ffffff;
}
ion-content{
    --background: #ffffff;

    #header{
        display:flex;
        flex-direction: column;
        align-items: center;
        
        img {
            width: 340px;
            height: 118px;
            border: 0;
            margin-top: 10%;
        }
        ion-icon{
            margin-top:5%;
            width: 130px;
            height: 130px;

        }
    }
    #form{
        margin: top 5px;
        padding-left: 20px;
        padding-right: 20px;

        ion-label{
            font-size: 20px;
        }
        ion-icon{
            width: 36px;
            height: 36px;
        }
        #pencil{
            width: 22px;
            height: 22px;      
        }
        h2{
            font-size: 20px;
            font-weight: 700;
        }
    }
    ion-button{
        position: relative;
        left: 216px;
        font-size: 18px;
        font-weight: 500;
    }
    ion-input{
        margin: top 5px;
        padding-left: 20px;
        padding-right: 20px;
    }
    app-button{
        margin-top: 20px;
    }
}